<p id="notice"><%= notice %></p>
<h1>Contacts (<%= @contacts_count %>)</h1>
<%= link_to 'New Contact', contact_new_path %>
<br><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact_path(contact) %></td>
        <td><%= contact.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>