<p id="notice"><%= notice %></p>
<h1>Show Contact</h1>
<p>
    <strong>Name:</strong>
    <%= @contact.name %>
</p>
<p>
    <strong>Address:</strong>
    <%= @contact.address %>
</p>
<p>
    <strong>Phone:</strong>
    <%= @contact.phone %>
</p>
<p>
    <strong>Email:</strong>
    <%= @contact.email %>
</p>
<%= link_to 'Contact list', root_path %>